
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
body{
background-color:#222;
min-height: 100vh;
justify-content: center;
display: flex;
}
.card{
 width:90%;
 max-width: 470px;
 border-radius: 20px;
 padding:40px,35px;
 text-align: center;
 background:linear-gradient(rgb(98, 217, 238),rgb(22, 223, 156));
 color: #fff;
 box-shadow: 0 4px 8px rgba(0,0,0,0.15);
 margin-bottom: 250px;
 margin-top: 10px;
}
.search{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 18px;
}
.search input{
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  flex: 1;
  font-size: 18px;
  padding: 10px,25px;
  height: 60px;
  border-radius: 30px;
  margin-right: 18px;
  text-align: center;
}
.search button{
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: 24px;
}
.search button img{
  width: 30px;
}
.weather-icon{
  width: 200px;
  margin-top: 30px;
}
.weather h1{
  font-size: 80px;
  font-weight: 500;
  margin-top: 10px;
}
.weather h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: 0px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 150px;
}
.col{
  display:flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 120px;
  margin-right: -10px;
  margin-bottom: 50px;
  margin-top: -100px;
}
.humidity-value , .wind-speed{
  font-size: 35px;
  font-weight: 500;
  margin-top: -100px;
  margin-left: 0px;
}